<%- include("./partials/header") %>
<div class="h-[100vh] w-full bg-green-200 text-2xl">
    <%- include("./partials/nav") %>
    <div class="p-10">
        <span class="cursor-pointer hover:text-red-400 font-semibold underline">BLOGS</span>
    </div>
    <a class="absolute text-[1.5vw] px-5 py-2 rounded hover:bg-slate-400 hover:text-white bg-slate-300 top-5 right-5" href="/logout">Logout</a>

    <div class="w-full  flex flex-wrap justify-center items-center gap-5">
        <% newpost.forEach((item , i) => { %>
          <a href="/postdetail/<%=item.id%>">
            <div class="h-[26vw]  w-[16vw] bg-green-300 p-3 gap-5 rounded">
                <h1 class="mb-5 font-semibold underline"><%= item.title %></h1>
                <img class="h-[75%] object-cover  rounded" src="<%=item.image%>" alt="">
                <div class="flex items-center justify-between p-2 w-full">
                    <a href="/update"><i class="ri-pencil-fill"></i></a>
                    <a href="/delete/<%=item._id%>"><i class="ri-delete-bin-6-fill"></i></a>
                </div>
            </div>
          </a>
          
        <% }) %>
    </div>
</div>
<%- include("./partials/footer") %>
